---
title: "Design Workflow States"
description: "Workflow states and processes for design and design system management projects."
layout: "content-type.njk"
discipline: "design"
contentType: "workflow-states"
--- 