---
title: "Development Project Configurations"
description: "Project configuration examples and templates for software development."
layout: "content-type.njk"
discipline: "development"
contentType: "project-configs"
--- 