---
title: "Design Project Configurations"
description: "Project configuration examples and templates for design and design system management."
layout: "content-type.njk"
discipline: "design"
contentType: "project-configs"
--- 