---
title: "Sales & Marketing Project Configurations"
description: "Project configuration examples and templates for sales and marketing."
layout: "content-type.njk"
discipline: "sales-marketing"
contentType: "project-configs"
--- 