---
title: "Project Management Workflow States"
description: "Workflow states and processes for project management."
layout: "content-type.njk"
discipline: "project-management"
contentType: "workflow-states"
--- 