---
title: "Quality Assurance Workflow States"
description: "A collection of workflow states and processes for Quality Assurance."
layout: "content-type.njk"
discipline: "quality-assurance"
contentType: "workflow-states"
category: "Quality Assurance Process"
---

This section documents the various workflow states used in Quality Assurance processes. 