---
title: "Sales & Marketing Workflow States"
description: "Workflow states and processes for sales and marketing projects."
layout: "content-type.njk"
discipline: "sales-marketing"
contentType: "workflow-states"
--- 